<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b50cf8d4-f22f-4980-b291-9bb58d9208ea" name="Test Step" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b50cf8d4-f22f-4980-b291-9bb58d9208eafileName">Test-Step</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
